/* BIG Website */

html {
    background-color: #ccc;
}

main {
    background-color: #fff;
    width: 80%;
    overflow: auto;

    margin: auto;
}

h1 a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

h2 {
    padding-left: 10px;
}

p {
    padding-left: 10px;
    font: 1em arial, sans-serif; 

}

.fullwidth {
    width:100%;
}

section {
    float: left;
    width: 65%;


}
aside {
    float: left;
    width: 34%;
    padding-left: 5px;
    background-color: lightgray;
}

img {
    border: 1px solid #000;
    width: 100%;
    
}
div.gallery {
    text-align: center;
    
}

figure {
    display: inline-block;
    margin: .25%;

}

li {
    padding-left: 20px;
    font: 1em arial;
}

/* START - EMBED RESPONSIVELY STYLES */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END - EMBED RESPONSIVELY STYLES */

/* HIDE AGENDA VIEW CALENDAR */
div.embed-container.agenda-view {
    display: none;
}
footer {
    padding: 2em;

    text-align: center;
    clear: both;
}

/* DESKTOP */
@media all and (min-width: 1400px){
    
    section {
        width:65%;
        float: left;
    }
    
    aside{
        width: 30%;
        float: right;
    }
    
    img.tablet, img.phone {
        display: none;
    }
}

/* TABLET */
@media all and (min-width: 601px) and (max-width: 1399px) {
    
    div.wrapper {
        width:90%;
    }
    section {
        width: 55%;
        float: left;
    }
    aside {
        width: 40%;
        float: right;
    }
    
    img.desktop, img.phone{
        display: none;
    }
}

/* MOBILE STYLES */

@media all and (max-width:600px) {
    
    main {
        width: 100%;
    }
    
    section {
        float: none;
        width: 100%;

    }
    aside {
        float: none;
        width: 100%;


    }
    
}

/* CALENDAR  RULES FOR PHONE*/
@media all and (max-width:860px) {
    
    /*Show Agenda View Calendar */
    div.embed-container.agenda-view {
        display: block;
    }
    
    /* Hide Month View Calendar */
    div.embed-container.month {
        display: none;
    }
}

